<!DOCTYPE html>
<html>
<head>
  <title>URL shortener</title>
  <link href="css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
<form action="/<%= id %>" method="post">
  <input type="text" placeholder='Enter the URL you would like to "shorten"' name="url">
  <input type="submit" value="Shorten">
</form>
</body>
</html>