<html>

<body>
<form action="/" method="post">
  <input type ="text" placeholder="explanatory placeholder text" name="url">
  <input type ="submit" value="shorten">
</form>

<% url.each do |old| %>
  old url: <%= old %><br>
  <% end %>

<% new_url.to_enum.with_index(1).each do |new, id| %>
  new url: <%= new %><%= id %><br>
<% end %>

</body>
</html>
