<!DOCTYPE html>
<html>
<head>
  <title>URL shortener</title>
  <link href="css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
<form action="/<%= id %>" method="post">
  <input type="text" placeholder="enter a url to be shortened here" name="url">
  <input type="submit" value="shorten">
</form>
</body>
</html>