<!DOCTYPE HTML>
<html>
<head>
  <title>URL shortener</title>
  <link href="../css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="labels">
    <p><strong>Original URL<br><br>"Shortened" URL</strong></p></div>
  <div class="url_output"><p><%= new_url %><%= id.to_s %><br><br><%= old_url %></p><br>
    <a href="/">"Shorten" another URL</a></div>
</div>
</body>
</html>