<!DOCTYPE HTML>
<html>
<head>
  <title>URL shortener</title>
  <link href="css/style.css" type="text/css" rel="stylesheet">
</head>
<body>


Old URL = <%= old_url %>

<br>

New URL = <%= new_url %><%= id.to_s  %>

<br>
<input class="button" value="Sample Button" type="submit" />
</body>
</html>