input[type="text"] {

    box-sizing: border-box;
    width: 40%;
    border: .15em solid;
    font-size: 30px;
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20%;
    padding: 10px;
}

input[type="submit"] {
    position: relative;
    margin-left: 40%;
    margin-right: 25%;
    margin-top: 2%;
    background-color: blue;
    font-size: 20px;
    color: white;
    padding: 10px;
    box-shadow: 5px 5px 2px #888888;
    border: 2px solid black;
}

.labels {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.url_output {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.container {
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15%;
    padding: 2px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}